<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hyodo</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Hyodo.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/perfil.jpg" alt="hyodo-profile-img" width="200" height="200">
      <h2>Hello.</h2>
      <p class="intro">I am a Web Developer. I'm the founder and CTO of The TechWolf Inc. I like tech, anime, series, baseball and judo</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Introduction</h3>
        <p>I started learning to code when I was 10 years old on a 386 computer. Even though, I got a bachelor in Computer Engineering, I have persuit the productm management carrier and now I going back to my roots and give a new chance to software development.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images/chillies.png" alt="chillies-img">

        <h3>Fun Fact</h3>
        <p>But my best skill is actually in eating hot wings. I am the undisputed queen of hot wing challenges. Ghost Peppers and Carolina Reapers are my favourite snacks.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love Tech as much as I do.</h3>
      <p class="contact-message">Love Tech as much as I do? Let's talk it!</p>
      <a class="btn" href="mailto:hyodo.developer@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/ehyodo/">LinkedIn</a>
    <p class="copyright">©2026 Hyodo @ The App Personal Card.</p>
  </div>
</body>

</html>
